{% extends "frame.html" %}

<!-- This file is a child of frame.html. 
It contains the bar chart of top ten tweeting users about oil. -->

<!-- Calling the sidemenu as-is, because the one in frame.html is the one with oil. -->
{% block sidemenu %}
{{ super() }}
{% endblock %}

<!-- Inserting the title and the chart to the page  -->
  {% block content %}
  <div class="w3-container">
    <h3>Top ten cities about oil</h3>

    <svg class="chart"></svg>
  </div>
  {% endblock %}

<!-- Inserting the javascript for the visualization  -->
{% block d3 %}
{{ super() }}
{% endblock %}
