{% extends "frame.html" %}
{% block sidemenu %}
{{ super() }}
{% endblock %}
  {% block content %}
  <div class="w3-row w3-padding-64"">
    <div class="w3-col m12 l10 w3-container">
      <p>All the tweets about oil.</p>
      <table class="w3-table w3-border w3-bordered" style="table-layout:fixed" >
        <tr class="w3-theme-l2">
            <th style="width:100px">Date</th>
            <th style="word-wrap:break-word">Text</th>
            <th style="width:150px">Origin</th>
            <th style="width:150px">User</th>
          </tr>
        {% for row in data %}
          <tr style="font-weight:normal">
            <th style="width:100px;font-weight:normal">{{ row[1] }}</th>
            <th style="word-wrap:break-word;font-weight:normal">{{ row[3] }}</th>
            <th style="width:150px;font-weight:normal">{{ row[4] }}</th>
            <th style="width:150px;font-weight:normal">{{ row[5] }}</th>
          </tr>      
        {% endfor %}
      </table>
    </div>
  </div>
  {% endblock %}
{% block d3 %}
{% endblock %}
